<p>Dear <%= @invoice.invoice_address.first_name %>,</p>

<p>Please find attached invoice for order <%= @invoice.order_reference %>.</p>

<p>If you have any questions regarding this credit invoice, contact our <%= link_to 'support department', 'http://support.ultimaker.com/index.php?/Tickets/Submit' %>.</p>

<p>Kind regards,<br /><br />

Ultimaker<br />
www.ultimaker.com</p>
